[Desktop Entry]
Encoding=UTF-8
Name=Jupitercoin
Comment=Jupitercoin P2P Cryptocurrency
Comment[fr]=Jupitercoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Jupitercoin, eşten eşe kriptografik sanal para birimi
Exec=jupitercoin-qt %u
Terminal=false
Type=Application
Icon=jupitercoin128
MimeType=x-scheme-handler/jupitercoin;
Categories=Office;Finance;
